
input {
    margin: 10px;
    background: none;
    padding: 6px 12px;
    border: 2px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

input:hover {
    border: 2px outset rgb(130, 30, 0);
    color: rgb(130, 30, 0);
}

.settings input{
    border: 1px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: .8em;
    font-weight:normal;
    margin: .5em;
}
.settings input.active{
    border: 1px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: .8em;
    font-weight:bold;
}
.settings input:hover{
    border: 1px outset rgb(130, 30, 0);
    color: rgb(130, 30, 0);
}

.settings{
    display: inline-block;
}
.difficulty{
    margin: 0 2em;
    padding: 1rem 1rem;
    vertical-align: middle;
    display: inline-block;
}
.size{
    margin: 0 2em;
    padding: 1rem 1rem;
    vertical-align: middle;
    display: inline-block;
}
.size input{
    width: 4em;
}
label {
    margin-right: 1em;
}
select{
    background-color: rgb(255, 170, 220);
    border: 1px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    size: 1em;
}
/* .reset{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1) rotate(0);
    cursor: pointer;
    line-height: 1.2;
    white-space: nowrap;
    padding: 0.5em 1.25em;
    border-radius: 2em;
    background: #1a73d9;
    color: #fff;
    box-shadow: 0 0.5em 1em #999;
    opacity: 1;
    transition: box-shadow 200ms linear, margin 200ms linear,transform 300ms ease-out, opacity 300ms ease-out;
}
.reset:before {
    content: "\f01e";
    margin-right: 0.5em;
} */
