.game {
    max-width: 860px;
    margin: 40px auto;
}

input[type='button'] {
    margin: 20px;
    background: none;
    padding: 6px 12px;
    border: 2px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

input[type='button']:hover {
    border: 2px outset rgb(130, 30, 0);
    color: rgb(130, 30, 0);
}

.difficulty input{
    border: 1px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: .8em;
    font-weight:normal;
}
.difficulty input.active{
    border: 1px solid rgb(100, 25, 50);
    border-radius: 4px;
    color: rgb(100, 25, 50);
    cursor: pointer;
    font-size: .8em;
    font-weight:bold;
}
.difficulty input:hover{
    border: 1px outset rgb(130, 30, 0);
    color: rgb(130, 30, 0);
}

#cards {
    margin: 50px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}