.game-card {
  position: relative;
  margin: 0;
}

.game-card img {
  width: 100%;
  display: block;
  border: 3px solid rgb(100, 25, 50);
  border-radius: 7px;
}

.game-card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}
.game-card .back {
  transition: all ease-in 0.2s;
}