@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 0;
  font-size: 1.2em;
  background: rgb(255, 174, 224);
  color: rgb(100, 25, 50);
}

main{
  max-width: 860px;
  margin: 40px auto;
}

#cards {
  margin: 50px 20px 0 20px;
  display: grid;
  grid-gap: 15px;
}

.bg-light{
  background-color: rgb(255, 110, 180) !important;
}

p{
  margin: 1rem;
}